<header class="main-header">
<div class="main-box">
<div class="container">
<div class="outer-container clearfix"><!--Logo Box-->
<div class="logo"><a href="#" ng-link="['Dashboard']"><img src="images/logo.jpg" alt="Logo" title="Logo"></a></div>
<div class="nav-outer clearfix"><!-- Main Menu -->
<nav class="main-menu">
<div class="navbar-header"><!-- Toggle Button -->    	
<button type="button" class="navbar-toggle" ng-click="toggleMenu()" data-toggle="collapse" data-target=".navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse clearfix" ng-class="{collapse: isCollapsed == true}">
<ul class="navigation clearfix">
<li class="current-menu-item"><a ng-link="['Search']" title="Search" href="#" class="hvr-underline-from-left1">Search</a></li>
<li class="current-menu-item"><a ng-link="['Featured']" title="Featured" href="#" data-toggle="dropdown1" class="hvr-underline-from-left1">Featured</a></li>
</ul>
</div>
</nav>
</div>
</div>    
</div>
</div>
</header>